:root{
    /*SIDER*/
    --sider-bg-color:#252535;
    --sider-border-color:#FFAD28;
    --sider-img-color:#FFAD28;
    --sider-font-color:white;
}

.sider{
        background-color:var(--sider-bg-color);
        color:var(--sider-font-color);
        width:17%;   
        height:100%;
        position: fixed;
}

.siderTop {
    margin-top:10%;
    text-align:center;
    padding-bottom: 5%;
}

.siderTop  > img{
    width:50%;
    height:50%;
    border-radius: 60px;
    border-bottom: solid white 0.1em;
    
    

}

.siderTop .nomPrenom{
    color:#252535;
    padding-top: 5%;
    background-color: #FFAD28;
    margin-top: -10px;
    padding-bottom: 5%;
    font-weight: bold;
      
    
}

.siderMiddle .verticalMenu {   
    width: 100%;
    text-align: center;
    padding: 40% 10px;
}

.siderMiddle .verticalMenu a {
    color: var(--sider-font-color);
    font-size:1.2em;
    display: block; 
    padding: 5%; 
    text-decoration: none;  
    
}

.siderMiddle .verticalMenu a:hover {
      width: 95%; 
      color: #FFAD28;
}

.siderMiddle .verticalMenu .active{
    border-bottom: solid #FFAD28 1px;
    color:#FFAD28;
    width: 60%;
    margin-left: 20%;
}

.siderMiddle .verticalMenu .active:hover{
    border-bottom: solid #FFAD28 1px;
    width: 60%;
    margin-left: 20%;
    color: #FFAD28;
}

.siderFooter{
    
    text-align:center;
    position:fixed;
    bottom:0px;
    width:17%;
    height: 6%;
    padding-top: 10px;
}

.siderFooter .svg{
    width: 10%;
    height: 65%;
}

.siderFooter a{
   padding-right: 7%;
   padding-left: 7%;
}
